<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LeoQueue.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>45B0DCF92525A55400F1A32D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45B0DD0F2525A55700F1A32D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45B0DD1A2525A55700F1A32D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
